
REPLICA_SET=rs0
MONGODB_URI=mongodb://127.0.0.1:27017/?replicaSet=$REPLICA_SET

NEXT_PUBLIC_BACKEND_URL=http://localhost:3000

CLOUD_DEV_TOKEN=
CLOUD_URL=
PLATFORM_URL=
SOLUTION_ID=
SERVER_ID=


OWNER_TOKEN=
JWT_SALT=

