# MongoDB env
REPLICA_SET=rs0
MONGODB_URI=mongodb://127.0.0.1:27017/?replicaSet=$REPLICA_SET

# PriMX Platform env
PLATFORM_URL="Replace with your PrivMX Platform organization's Api URL"
SOLUTION_ID="Replace with your Solution ID"

ACCESS_KEY="Replace with Solution's PubKey"
ACCESS_KEY_SECRET="Replace with Solution's Secret"
CLOUD_URL=https://api.privmx.com/main


INSTANCE_ID=

# Chatee env
JWT_SALT=
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
 


 